@model List<EntityLayer.Concrete.ProductVendor>
@{
    ViewData["Title"] = "Tedarikçi Listesi";
}

<h1 class="mb-4">@ViewData["Title"]</h1>


<br />

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

<div class="d-flex gap-2 mb-3">
    <a class="btn btn-success" href="/ProductVendorStatic/AddProductVendor">Ekle</a>
    <a class="btn btn-warning" href="/ProductVendorStatic/UpdateProductVendor">Güncelle</a>
    <a class="btn btn-danger" href="/ProductVendorStatic/DeleteProductVendor">Sil</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>
                Firma Adı
            </th>
            <th>İlgili Kişi</th>
            <th>Email</th>
            <th>Telefon</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var productVendor in Model)
        {
            <tr>
                <td>@productVendor.ProductVendorID</td>
                <td>@productVendor.CompanyName</td>
                <td>@productVendor.ContactPerson</td>
                <td>@productVendor.Email</td>
                <td>@productVendor.Phone</td>
            </tr>
        }
    </tbody>
</table>


