@model EntityLayer.Concrete.Store
@{
    ViewData["Title"] = "StoreById";
}

<h1>Mağaza ID Getirme </h1>



<strong></strong>
<P>@Model.StoreID</P>
<br />
<strong></strong>
<P>@Model.Name</P>
<br />
<strong></strong>
<P>@Model.Name</P>
<br />
<strong></strong>
<P>@Model.OwnerName</P>
<br />
<strong></strong>
<P>@Model.Email</P>
<br />
<strong></strong>
<P>@Model.StoreSetting?.Language</P>
<br />
<strong></strong>
<P>@Model.StoreSetting?.Currency</P>
<br />
<strong></strong>
<P>@Model.StoreSetting?.EnableNotifications</P>
<br />


