@model List<EntityLayer.Concrete.Order>
@{
    ViewData["Title"] = "Sipariş Listesi";
}

<h1 class="mb-4">@ViewData["Title"]</h1>


<br />

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

<br />

<div class="d-flex gap-2 mb-3">
    <a class="btn btn-success" href="/OrderWithCustomerStatic/AddOrder">Ekle</a>
    <a class="btn btn-warning" href="/OrderWithCustomerStatic/UpdateOrder">Güncelle</a>
    <a class="btn btn-danger" href="/OrderWithCustomerStatic/DeleteOrder">Sil</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ürün Tarihi</th>
            <th>Toplam Tutar</th>
            <th>Durum</th>
            <th>Ürün Not</th>
            <th>Ad-Soyad</th>
            <th>Yaş</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderID</td>
                <td>@order.OrderDate</td>
                <td>@order.TotalAmount</td>
                <td>@order.Status</td>
                <td>@order.Notes</td>
                <td>@order.Customer?.FullName</td>
                <td>@order.Customer?.Age</td>
                <td>@order.Customer?.Email</td>
            </tr>
        }
    </tbody>
</table>

