@model List<EntityLayer.Concrete.Log>
    @{
    ViewData["Title"] = "Log Listesi";
    }


@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

<div class="mb-3">
    <a href="/LogStatic/AddStaticLog" class="btn btn-primary">Static Log Ekle</a>
    <a href="/LogStatic/DeleteStaticLog" class="btn btn-danger" onclick="return confirm('Bu statik log (ID=11) silinsin mi?');">
        Statik Log Sil
    </a>
</div>



    <h2>Log Listesi</h2>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tarih</th>
                <th>Seviye</th>
                <th>Mesaj</th>
            <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model)
        {
            <tr>
                <td>@log.LogID</td>
                <td>@log.LogDate</td>
                <td>@log.LogLevel</td>
                <td>@log.Message</td>
                <td>
                    <!-- Statik ID ile çalışan buton -->
                    <a href="/LogStatic/UpdateStaticLog" class="btn btn-sm btn-warning">
                        Statik Güncelle
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>

