@model EntityLayer.Concrete.Log
@{
    ViewData["Title"] = "StaticLogById";
}

<h1>Static ID Getirme İşlemi</h1>

<strong>ID</strong>
<p>@Model.LogID</p>
<br />
<strong>Tarih</strong>
<p>@Model.LogDate</p>
<br />
<strong>Seviye</strong>
<p>@Model.LogLevel</p>
<br />
<strong>Mesaj</strong>
<p>@Model.Message</p>
<br />
<strong>Kaynak</strong>
<p>@Model.Source</p>
<br />
<strong>Kullanıcı</strong>
<p>@Model.User</p>
<br />


