@model List<EntityLayer.Concrete.Coupon>
@{
    ViewData["Title"] = "Kupon Listesi";
}

<h1 class="mb-4">@ViewData["Title"]</h1>


<br />

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}


<div class="d-flex gap-2 mb-3">
    <a class="btn btn-success" href="/CouponStatic/AddCoupon">Ekle</a>
    <a class="btn btn-warning" href="/CouponStatic/UpdateCoupon">Güncelle</a>
    <a class="btn btn-danger" href="/CouponStatic/DeleteCoupon">Sil</a>
</div>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>CouponID</th>
            <th>Kod</th>
            <th>İndirim Oranı</th>
            <th>Geçerlilik Başlangıç ​​Tarihi</th>
            <th>Geçerlilik Tarihi</th>
            <th>Source</th>
            <th>Aktiv mi?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var coupon in Model)
        {
            <tr>
                <td>@coupon.CouponID</td>
                <td>@coupon.Code</td>
                <td>@coupon.DiscountRate</td>
                <td>@coupon.ValidFrom</td>
                <td>@coupon.ValidUntil</td>
                <td>@(coupon.IsActive ? "Evet" : "Hayır")</td>

            </tr>
        }
    </tbody>
</table>

