@model List<EntityLayer.Concrete.OrderDetail>
@{
    ViewData["Title"] = "Sipariş Detayları Listesi";
}

<h1 class="mb-4">@ViewData["Title"]</h1>


<br />

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

<div class="d-flex gap-2 mb-3">
    <a class="btn btn-success" href="/OrderDetailWithOrderAndProductStatic/AddOrderDetail">Ekle</a>
    <a class="btn btn-warning" href="/OrderDetailWithOrderAndProductStatic/UpdateOrderDetail">Güncelle</a>
    <a class="btn btn-danger" href="/OrderDetailWithOrderAndProductStatic/DeleteOrderDetail">Sil</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Miktar</th>
            <th>Birim Fiyat</th>
            <th>İndirim</th>
            <th>Notlar</th>
            <th>Sipariş Tarihi</th>
            <th>Toplam Tutar</th>
            <th>Durum</th>
            <th>Sipariş Notu</th>
            <th>Müşteri Adı</th>
            <th>Ürün Adı</th>
            <th>Ürün Açıklaması</th>
            <th>Ürün Fiyatı</th>
            <th>Stok</th>
            <th>Aktif Mi?</th>
            <th>Marka Adı</th>
            <th>Marka Açıklaması</th>
            <th>Ülke</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orderDetai in Model)
        {
            <tr>
                <td>@orderDetai.OrderDetailID</td>
                <td>@orderDetai.Quantity</td>
                <td>@orderDetai.UnitPrice</td>
                <td>@orderDetai.Discount</td>
                <td>@orderDetai.Notes</td>
                <td>@orderDetai.Order?.OrderDate</td>
                <td>@orderDetai.Order?.TotalAmount</td>
                <td>@orderDetai.Order?.Status</td>
                <td>@orderDetai.Order?.Notes</td>
                <td>@orderDetai.Order?.Customer?.FullName</td>
                @*Order-Customer-Column(İsteğe bağlı eklenir)*@
                <td>@orderDetai.Product?.Name</td>
                <td>@orderDetai.Product?.Description</td>
                <td>@orderDetai.Product?.Price</td>
                <td>@orderDetai.Product?.Stock</td>
                <td>@(orderDetai.Product?.IsActive == true ? "Evet" : "Hayır")</td>
                <td>@orderDetai.Product?.ProductBrand?.Name</td>
                <td>@orderDetai.Product?.ProductBrand?.Description</td>
                <td>@orderDetai.Product?.ProductBrand?.Country</td>
           

            </tr>
        }
    </tbody>
</table>


