@model List<EntityLayer.Concrete.OrderPayment>
@{
    ViewData["Title"] = "Ödeme Kayıtları Listesi";
}

<h1 class="mb-4">@ViewData["Title"]</h1>


<br />

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

<div class="d-flex gap-2 mb-3">
    <a class="btn btn-success" href="/OrderPaymentWithOrderStatic/AddOrderPayment">Ekle</a>
    <a class="btn btn-warning" href="/OrderPaymentWithOrderStatic/UpdateOrderPayment">Güncelle</a>
    <a class="btn btn-danger" href="/OrderPaymentWithOrderStatic/DeleteOrderPayment">Sil</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Miktar</th>
            <th>Ödeme yöntemi</th>
            <th>ÖdemeTarihi</th>
            <th>Sipariş-ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orderPayment in Model)
        {
            <tr>
                <td>@orderPayment.OrderPaymentID</td>
                <td>@orderPayment.Amount</td>
                <td>@orderPayment.PaymentMethod</td>
                <td>@orderPayment.PaymentDate</td>
                <td>@orderPayment.OrderID</td>
            </tr>
        }
    </tbody>
</table>