@model EntityLayer.Concrete.Customer
@{
    ViewData["Title"] = "GetCustomerById";
}

<h1>Müşteri ID Getirme</h1>
<br />
<strong>ID</strong>
<p>
    @Model.CustomerID
</p>
<br />
<strong>Ad-Soyad</strong>
<p>
    @Model.FullName
</p>
<br />
<strong>Yaş</strong>
<p>
    @Model.Age
</p>
<br />
<strong>E-Mail</strong>
<p>
    @Model.Email
</p>
<br />
<strong>Telefon</strong>
<p>
    @Model.Phone
</p>
<br />
<strong>Adres</strong>
<p>
    @Model.Address
</p>
<br />

<strong>Durum</strong>
<p>
    @Model.IsActive
</p>
<br />
<strong>Kayıt Tarihi</strong>
<p>
    @Model.RegisteredDate
</p>
<br />
