@model EfCoreJourney.Models.Customer_Projection_List_View_Model
@{
    ViewData["Title"] = "Müşteri Projeksiyon İşlemleri";
}

<h1>@ViewData["Title"]</h1>

<h2>Tüm Müşteriler</h2>
<table class="table">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Yaş</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Adres</th>
            <th>Durum</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Age</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.Address</td>
                <td>@item.IsActive</td>
            </tr>
        }

    </tbody>
</table>



<h2>Tüm müşterilerin ad ve soyadını almak</h2>

@if (Model.CustomerFullNames != null && Model.CustomerFullNames.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Soyad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.CustomerFullNames)
            {
                <tr>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">Listelenecek müşteri bulunamadı.</div>

}

<h2>Aktif Müşterilerin Ad,Soyad ve Yaşını Almak</h2>

@if (Model.CustomerFullNames != null && Model.CustomerFullNames.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Yaş</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.ActiveCustomers)
            {
                <tr>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.Age</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">Listelenecek müşteri bulunamadı.</div>


}



<h2>Aktif Müşterilerin Ad,Soyad ve Yaşını Almak</h2>

@if (Model.CustomerFullNames != null && Model.CustomerFullNames.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Yaş</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.ActiveCustomers)
            {
                <tr>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.Age</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">Listelenecek müşteri bulunamadı.</div>


}



<h2>Yaşı 30'dan Büyük Olan Müşterilerin Ad ve Soyadını Almak</h2>

@if (Model.CustomerFullNames != null && Model.CustomerFullNames.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Soyad</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.CustomersOlderThan)
            {
                <tr>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                  
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">Listelenecek müşteri bulunamadı.</div>


}

<h2>Pasif Müşterilerin Yalnızca emailini almak Almak</h2>

@if (Model.CustomerFullNames != null && Model.CustomerFullNames.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>E-Mail</th>
                

            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.InactiveCustomers)
            {
                <tr>
                    <td>@customer.Email</td>
                   

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">Listelenecek müşteri bulunamadı.</div>


}


<h2>Yaşı 25'tan Büyük Olan Müşterilerin İsim,Soyisim ve Telefon Numaralarını Almak</h2>

@if (Model.CustomerFullNames != null && Model.CustomerFullNames.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>İsim-Soyisim</th>
                <th>Telefon</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.OlderThan25Customers)
            {
                <tr>


                    <td>@customer.FullName</td>
                    <td>@customer.Phone</td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">Listelenecek müşteri bulunamadı.</div>


}


<h2>Müşteri Adı ve Soyadı ile Birlikte Telefon Bilgisini Almak</h2>

                @if (Model.CustomerFullNames != null && Model.CustomerFullNames.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>İsim-Soyisim</th>
                <th>Telefon</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.OlderThan25Customers)
            {
                <tr>


                    <td>@customer.FullName</td>
                    <td>@customer.Phone</td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">Listelenecek müşteri bulunamadı.</div>


}

<h2>Her Müşterinin Telefon Numarasının Uzunluğunu Alarak telefon numarasını getirme</h2>

@if (Model.CustomerFullNames != null && Model.CustomerFullNames.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Telefon Numarası</th>
                <th>Uzunluk</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.CustomerPhoneLength)
            {
                <tr>

                    <td>@customer.Phone</td>
                    <td>@customer.Length</td>
                    

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">Listelenecek müşteri bulunamadı.</div>


}
                     

<h2>Müşterilerin Yalnızca Adlarını Büyük Harflerle Almak</h2>

@if (Model.CustomerFullNames != null && Model.CustomerFullNames.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>İsim</th>
                


            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.CustomerFirstNameUpperCase)
            {
                <tr>

                    <td>@customer.FirstNameUpper</td>


                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">Listelenecek müşteri bulunamadı.</div>


}