@model List<EntityLayer.Concrete.Customer>
@{
    ViewData["Title"] = "Müşteri Listesi";
}

<h1 class="mb-4">@ViewData["Title"]</h1>


<br />

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}



<div class="d-flex gap-2 mb-3">
    <a class="btn btn-success" href="/CustomerStatic/AddCustomer">Ekle</a>
    <a class="btn btn-warning" href="/CustomerStatic/UpdateCustomer">Güncelle</a>
    <a class="btn btn-danger" href="/CustomerStatic/DeleteCustomer">Sil</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ad-Soyad</th>
            <th>Yaş</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Adres</th>
            <th>Aktivlik</th>
            <th>Kayıt Tarihi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.CustomerID</td>
                <td>@customer.FullName</td>
                <td>@customer.Age</td>
                <td>@customer.Email</td>
                <td>@customer.Phone</td>
                <td>@customer.Address</td>
                <td>@customer.IsActive</td>
                <td>@customer.RegisteredDate</td>
            </tr>
        }
    </tbody>
</table>

