@model List<EntityLayer.Concrete.OrderShipment>
@{
    ViewData["Title"] = "Gönderim Kayıtları Listesi";
}

<h1 class="mb-4">@ViewData["Title"]</h1>


<br />

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

<br />

<div class="d-flex gap-2 mb-3">
    <a class="btn btn-success" href="/OrderShipmentWithOrderStatic/AddOrderShipment">Ekle</a>
    <a class="btn btn-warning" href="/OrderShipmentWithOrderStatic/UpdateOrderShipment">Güncelle</a>
    <a class="btn btn-danger" href="/OrderShipmentWithOrderStatic/DeleteOrderShipment">Sil</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Taşıyıcı</th>
            <th>Takip Numarası</th>
            <th>Gönderim Tarihi</th>
            <th>Teslim Tarihi</th>
            <th>Sipariş-ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orderShipment in Model)
        {
            <tr>
                <td>@orderShipment.OrderShipmentID</td>
                <td>@orderShipment.Carrier</td>
                <td>@orderShipment.TrackingNumber</td>
                <td>@orderShipment.ShippedDate</td>
                <td>@orderShipment.DeliveredDate</td>
                <td>@orderShipment.OrderID</td>
            </tr>
        }
    </tbody>
</table>

